* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
}

main.showcase {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  row-gap: 2rem;
  line-height: 3rem;
}

.container {
  width: 90%;
  margin: auto;
  margin: 5rem auto;
}

img {
  width: 100%;
  max-width: 700px;
}

p#info-about-product {
  line-height: 1;
  margin: 1rem 0;
}

p#colors {
  display: inline-block;
  margin-right: 1rem;
}

div.circle {
  width: 15px;
  height: 15px;
  background-color: yellowgreen;
  border-radius: 50%;
  display: inline-block;
}
div.circle:nth-of-type(2) {
  background-color: yellow;
}
div.circle:nth-of-type(3) {
  background-color: red;
}
div.circle:nth-of-type(4) {
  background-color: maroon;
}

button {
  padding: 2% 5%;
  background-color: rgb(171, 230, 8);
  border: none;
  border-radius: 3px;
  width: 30%;
}

@media (min-width: 768px) {
  main.showcase {
    flex-direction: row;
  }
  .showcase-img {
    width: 50%;
  }
  .showcase-text {
    width: 50%;
  }
  button {
    padding: 2% 5%;
    width: 30%;
  }
}
